/* HEADER */

header {
    height: 5vh;
}

header form > input {
    border: none;
}

nav * {
    cursor: pointer;
    color: black
}

.fa-bell {
    color: orange;
}

/* MAIN */

body {
    overflow: hidden;
}

aside {
    height: 95vh;
}

.jumbo {
    background-color: dodgerblue;
}

.jumbo .row > * {
    width: auto;
}

.jumbo-span {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.my-button {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background: none;
}

tbody .my-button {
    color: gray;
    border: 2px solid lightgray;
}

tbody span img {
    height: 30px;
}