/* HEADER */

header {
    height: 5vh;
}

header form > input {
    border: none;
}

nav * {
    cursor: pointer;
    color: black
}

.fa-bell {
    color: orange;
}

/* MAIN */

body {
    overflow: hidden;
}

aside {
    height: 95vh;
}
