/* HEADER */

header {
    height: 6vh;
    width: 100%;
    z-index: 3;
}

header form > input {
    border: none;
}

nav * {
    cursor: pointer;
    color: black
}

.fa-bell {
    color: orange;
}

/* MAIN */

main {
    padding-top: 6vh;
}

aside {
    height: 94vh;
}

.sidebar {
    z-index: 2;
    width: 150px;
}

.main-col {
    margin-left: 150px;
}

.jumbo {
    background-color: dodgerblue;
}

.jumbo .row > * {
    width: auto;
}

.jumbo-span {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.my-button {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background: none;
}

tbody .my-button {
    color: gray;
    border: 2px solid lightgray;
}

tbody span img {
    height: 30px;
}